@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: local("");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/playfair-display-v30-latin-600.woff2") format("woff2"), url("../fonts/playfair-display-v30-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/playfair-display-v30-latin-700.woff2") format("woff2"), url("../fonts/playfair-display-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v34-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Open Sans", "Roboto", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container-big {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.site-header {
  position: absolute;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
}
.nav__link-img {
  width: 144px;
  height: 36px;
}
.nav__menu-list {
  display: flex;
  max-width: 606px;
  width: 100%;
  justify-content: space-between;
}
.nav__menu-item {
  width: 115px;
  padding: 0 0 5px 0px;
  display: flex;
  justify-content: center;
}
.nav__menu-item-link {
  text-transform: capitalize;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132.9%;
  letter-spacing: 0.05em;
  color: #ffffff;
  transition: all 0.05s ease-in;
  border-bottom: 3px solid transparent;
}
.nav__menu-item-link:hover {
  font-weight: 700;
  border-bottom: 3px solid #fff;
}
.nav__menu-item-link:active {
  font-weight: 700;
  border-bottom: 3px solid #fff;
}
.nav__icon-list {
  display: flex;
  max-width: 196px;
  width: 100%;
  justify-content: space-between;
}
.nav__icon-item-link:hover {
  opacity: 0.8;
}
.nav__icon-item-link:active {
  opacity: 0.6;
}
.nav__icon-item-link-img {
  width: 27px;
  height: 27px;
}

.hero {
  margin-bottom: 140px;
}
.hero__container {
  background-image: url("./../../images/hero-bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 333px 0 353px 0;
  border-radius: 0 0 62px 62px;
}
.hero__wrapper {
  max-width: 668px;
  width: 100%;
}
.hero__wrapper-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
  margin-bottom: 54px;
}
.hero__wrapper-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #07484a;
  margin-bottom: 54px;
}

.gButton {
  text-transform: capitalize;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #fdfbf8;
  padding: 23.5px 54.5px;
  background-color: #70908b;
  border-radius: 10px;
}

.category {
  padding: 100px 0;
}
.category__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
  margin-bottom: 99px;
  text-align: center;
}
.category__wrapper {
  display: flex;
  justify-content: space-between;
}
.category__left {
  max-width: 349px;
  width: 100%;
}
.category__left-input {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 26px 32px;
  background-color: #f0f0f0;
  margin-bottom: 80px;
}
.category__left-input::before {
  position: absolute;
  top: 0;
  border: 1px solid red;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./../../images/search-icon-bgGrey.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 9;
}
.category__left-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}
.category__left-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}
.category__left-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}
.category__left-list {
  padding: 0 25px;
  height: 694px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 83px;
  margin-bottom: 80px;
}
.category__left-list::-webkit-scrollbar {
  width: 1px;
  background-color: #07484a;
}
.category__left-list::-webkit-scrollbar-thumb {
  background-color: #70908b;
  outline: 5px solid #70908b;
}
.category__left-item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #07484a;
  text-transform: capitalize;
}
.category__card-list {
  max-width: 1211px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.category__card-item {
  position: relative;
  display: flex;
}
.category__card-item:hover {
  opacity: 0.7;
}
.category__card-item:hover .category__card-item-box {
  display: block;
}
.category__card-item-img {
  width: 589.5px;
  border-radius: 10px;
}
.category__card-item-box {
  position: absolute;
  left: calc(50% - 135px);
  top: calc(50% - 85px);
  width: 245px;
  display: none;
}
.category__card-item-box-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  color: #fdfbf8;
  margin-bottom: 36px;
}

.category-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
  padding: 14px 43px;
  background-color: #e0eff6;
  border-radius: 6px;
  border: none;
  display: block;
  margin: 0 auto;
}

.popular {
  max-width: 1620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../images/popular-section-bg-img.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.popular__top--title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
}

.swiper {
  width: 85%;
  padding-left: 120px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  height: 640px;
  width: 430px !important;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  gap: 40px;
  background: #caf3e5;
  border-radius: 16px;
  margin-top: 58px;
  margin-bottom: 54px;
}

.popular__bottom {
  position: relative;
  padding: 20px;
}
.popular__bottom button {
  padding: 24px 20px;
  gap: 18px;
  width: 265px;
  background: #70908b;
  border-radius: 10px;
  border: none;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.swiper-scrollbar::after {
  border: 0px solid #07484a !important;
  height: 0px !important;
  width: 1620px;
  background: #07484A;
}

.swiper-button-next {
  padding: 0px;
  width: 40px;
  height: 40px;
  left: 190%;
  background: #e0eff6;
  border-radius: 100px;
  transform: rotateY(180deg);
}

.swiper-button-prev {
  padding: 0px;
  width: 40px;
  height: 40px;
  left: 175%;
  background: #f9d9da;
  border-radius: 100px;
}

.swiper-button-next::after {
  display: none !important;
}

.swiper-button-prev::after {
  display: none !important;
}

.product__img {
  width: 248px !important;
  height: 294px;
}

.popular__card {
  width: 100%;
}
.popular__card h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #70908b;
}
.popular__card p {
  margin: 20px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
}
.popular__card span {
  font-family: sans-serif;
  font-weight: 600;
  color: #70908b;
}

.site-benefits {
  background-color: #E0EFF6;
}

.benefits {
  padding: 100px 0;
}
.benefits__title {
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484A;
  margin-bottom: 112px;
}
.benefits__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.benefits__type-box {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type__box-img {
  margin-bottom: 32px;
}

.type__box-text h2 {
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #07484A;
  margin-bottom: 32px;
}
.type__box-text p {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #07484A;
}

@media screen and (max-width: 1024px) {
  .benefits__type-box {
    width: 30%;
    height: 30%;
  }
  .benefits__title {
    font-size: 48px;
    line-height: 62px;
  }
  .type__box-img img {
    width: 90px;
  }
  .type__box-text h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .type__box-text p {
    font-size: 18px;
    line-height: 23px;
  }
}
@media screen and (max-width: 768px) {
  .benefits__type-box {
    width: 40%;
    height: 30%;
  }
  .benefits__title {
    font-size: 48px;
    line-height: 62px;
  }
  .type__box-img img {
    width: 90px;
  }
  .type__box-text h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .type__box-text p {
    font-size: 18px;
    line-height: 23px;
  }
}
@media screen and (max-width: 600px) {
  .benefits__type {
    flex-direction: column;
  }
  .benefits__type-box {
    width: 70%;
    height: 30%;
  }
  .benefits__title {
    font-size: 33px;
    line-height: 42px;
  }
}
.testimonial__heading {
  margin-top: 100px;
  text-align: center;
}
.testimonial__heading h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484A;
  margin-bottom: 30px;
}
.testimonial__heading p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #07484A;
}

.user__comments-wrapper {
  position: relative;
  margin-top: 117px;
  margin-bottom: 100px;
}
.user__comments-wrapper .user__comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__comments-wrapper .item__img::before {
  content: url(../../images/Quote.svg);
  position: relative;
  top: 50px;
  left: -15px;
}
.user__comments-wrapper .user {
  width: 70%;
}
.user__comments-wrapper .user h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: black;
  margin-bottom: 60px;
}
.user__comments-wrapper .user .about__user p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #07484A;
}
.user__comments-wrapper .user .about__user span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #07484A;
  opacity: .9;
}
/*# sourceMappingURL=main.css.map */