* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Open Sans", "Roboto", sans-serif;
}

img {
  object-fit: cover;
}

ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

a{
  text-decoration: none;
}