.category {
  padding: 100px 0;

  &__title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    color: #07484a;
    margin-bottom: 99px;
    text-align: center;
  }
}
