.letters {
    background-color: #E0F6F1;
    display: flex;
}

.letter-left {
    width: 50%;
    height: 50%;

    img {
        width: 100%;
        height: 600px;
    }
}

.letter-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: 0 auto;
}

.right-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;
    letter-spacing: 0.05em;
    color: #07484A;

    span {
        font-weight: 700;
    }
}


.right-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #07484A;
    margin-bottom: 30px;
    margin-top: 20px;
}

.letter-input {
    background-color: transparent;
    border: #07484A;
    padding: 10px 20px;
    outline: none;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
}

.letter-input::placeholder {
    text-transform: capitalize;
}

.letter-btn {
    background: #70908B;
    border-radius: 6px;
    padding: 15px 24px;
    outline: none;
    border: none;
    width: 256px;
    color: white;
    font-weight: 500;
}

@media screen and (max-width:1024px) {
    .letter-right {
        width: 30%;
    }

    .right-title {
        // text-align: left;
        font-size: 48px;
        line-height: 62px;
        letter-spacing: 0.05em;
    }

    .right-text {
        font-size: 18px;
        line-height: 23px;
    }
}

@media screen and (max-width:768px) {
    .letters {
        flex-direction: column;
    }

    .letter-left {
        width: 100%;
    }

    .right-text {
        text-align: left;
    }

    .right-title {
        text-align: left;
    }

    .letter-right {
        width: 90%;
        justify-content: end;
        margin: 0;
    }
}

@media screen and (max-width:580px) {
    .letters {
        flex-direction: column;
    }

    .letter-left {
        width: 100%;
    }


    .right-title {
        font-size: 36px;
        line-height: 52px;
        text-align: center;
    }

    .right-text {
        text-align: center;
        font-size: 18px;
        line-height: 23px;
    }
}