.testimonial__heading {
    margin-top: 100px;
    text-align: center;

    h3 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 85px;
        color: #07484A;
        margin-bottom: 30px;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #07484A;
    }
}

.user__comments-wrapper {
    position: relative;
    margin-top: 117px;
    margin-bottom: 100px;

    .user__comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item__img::before {
        content: url(../../images/Quote.svg);
        position: relative;
        top: 50px;
        left: -15px;
    }

    .user {
        width: 70%;

        h4 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
            color: black;
            margin-bottom: 60px;
        }

        .about__user {
            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #07484A;
            }

            span {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 24px;
                line-height: 28px;
                color: #07484A;
                opacity: .9;
            }
        }
    }
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .prevtUser {
        background-color: #E0EFF6;
        padding: 14px;
        border-radius: 50%;
    }

    .nextUser {
        background-color: #F9D9DA;
        padding: 15px;
        border-radius: 50%;
        transform: rotateY(180deg);
    }

    .nextUserIcon,
    .prevsUserIcon {
        width: 20px;
    }

}